@font-face {
  font-family: 'Poppins';
  src:
    url('/fonts/Poppins-Regular.woff2') format('woff2'),
    url('/fonts/Poppins-Regular.woff') format('woff'),
    url('/fonts/Poppins-Regular.ttf') format('truetype'),
    url('/fonts/Poppins-Regular.eot') format('embedded-opentype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --g-font-size: clamp(calc(18rem / 16), 24vw/7.68, calc(32rem / 16));
  font-size: calc(var(--g-font-size) * 0.30);
  // Vars 
  --neutral-200: #f0f7f7;
  --neutral-400: #c6cdcc;
  --neutral-500: #75758a;
  --neutral-600: #4a4a57;
  --neutral-700: #383842;
  --neutral-800: #202025;
  --neutral-900: #000103;

  --error-600: #380713;

  --primary-500: #064040;
  --primary-600: #042b2b;
  --primary-700: #021d1d;
  --primary-900: #001414;

  --visited-500: #bea3ff;

  --typography-heading-l: 3.8rem;

  --easing: cubic-bezier(0.08, 0.82, 0.17, 1);

  --primary-gradient-400: linear-gradient(266deg, #2dd282, #90f4e8);
  --primary-gradient-900: linear-gradient(266deg, #0b0f0d, #011310, #001f1b);

  // Margins
  --page-margin: clamp(1rem, calc(2vw / 0.48), 2rem);

  @media (max-width: 56rem) and (min-width: 38rem) {
    --page-margin: clamp(2rem, calc(5vw / 0.48), 5rem);
  }
}

svg {
  max-width: 100%;
  display: block;
  height: auto;
}

canvas {
  touch-action: pan-y;
}

a {
  text-decoration: none;
  color: inherit;
}

label {
  display: block;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
}

::placeholder {
  color: inherit;
}

sup {
  font-size: 0.62em;
  vertical-align: top;
}

textarea {
  display: block;
}

input,
textarea,
button,
select {
  font: inherit;
  color: inherit;
  background-color: transparent;
  appearance: none;
  border: none;
  border-radius: 0;
}

ul,
ol {
  list-style-type: none;
}

summary {
  cursor: pointer;
  list-style: none;

  &::marker,
  &::-webkit-details-marker {
    display: none;
  }
}

iframe {
  border: none;
  display: block;
}

video {
  display: block;
  max-width: 100%;
  height: auto;
}

picture,
img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  object-fit: cover;
}

:focus {
  outline: none;
}

:focus-visible {
  outline: 2px solid var(--neutral-200, #f0f7f7);
  outline-offset: 5px;
}

html,
body {
  overflow-x: clip;
}

html {
  scroll-behavior: smooth;

  @media (prefers-reduced-motion) {
    scroll-behavior: none;
  }

  &.no-scroll {
    overflow: hidden;
  }
}

body {
  min-width: 320px;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--neutral-900, #000103);
  color: var(--neutral-200, #f0f7f7);
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-feature-settings:
    'ss03' on,
    'ss04' on;
  font-variant-numeric: oldstyle-nums proportional-nums;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
  line-height: 1.75;
  letter-spacing: 0.005em;
}

main,
.max-width {
  max-width: 98.375rem;
  width: calc(100% - var(--page-margin) * 2);
  margin: 0 auto;
  height: 100%;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  overflow-wrap: anywhere;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.024em;
  font-size: var(--typography-heading-l, 1.5rem);
  color: var(--text-heading, #f0f7f7);
  font-variant-numeric: oldstyle-nums proportional-nums;
  font-feature-settings:
    'ss03' on,
    'ss04' on;

  strong {
    background: var(--primary-gradient-400);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;

    &::before,
    &::after {
      display: none;
    }
  }
}

h1,
.h1 {
  font-size: var(--typography-heading-2xl, 2.25rem);
}

p,
li {

  &.strong,
  strong {
    font-weight: 400;
  }
}